.pageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome {
    width: 45vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px 0px;
    margin-left: 1vw;
}

.welcomeText {
    font-size: 2.6rem;
}

.contentContainer {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.artistsContainer, .tracksContainer {
    height: 70vh;
    width: 50vw;
    overflow-y: auto;
    padding: 30px;
    display: flex;
}

.artistsContainer {
    flex-direction: column;
    align-items: flex-start;
}

.tracksContainer {
    flex-direction: column;
    align-items: flex-start;
}

.artist, .track {
    margin: 20px;
}

.artist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    margin-left: 100px;
}