.loading {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.searchBarContainer {
  transition: all 700ms;
  width: 22vw;
  margin-top: 38vh;
  min-width: 160px;
}

.resultContainer {
  height: 65vh;
  width: 100vw;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistsContainer, .albumsContainer, .playlistsContainer, .tracksContainer {
  width: 21.2vw;
  height: 51vh;
  padding-top: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  display: inherit;
  background-image: linear-gradient( to bottom, rgb(215 215 215), rgb(0 0 0 / 78%));
  transition: all 700ms;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
}

.artistsContainer:hover, .albumsContainer:hover, .playlistsContainer:hover, .tracksContainer:hover {
  transform: scale(0.99);
}

@media (max-width: 1000px) {
  .resultContainer {
    flex-direction: column;
    align-items: center;
    height: 66vh;
  }
  .artistsContainer, .albumsContainer, .playlistsContainer, .tracksContainer {
    width: 90vw;
    height: 47vh;
    margin-top: 20px;
  }
  .container {
    overflow-y: auto;
    height: 86vh;
  }
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1vw;
  display: none;
}

.artists, .albums, .playlists, .tracks {
  margin: 0.9vh 0.5vw;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.clickHere {
  width: 100vw;
  height: 4vh;
  display: inline;
}

.name:hover {
  transform: scale(0.999);
  transition: all 5ms;
}

.imgContainer {
  display: inline-block;
  position: relative;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.imgContainer:hover img {
  filter: blur(2px) brightness(60%);
}

.imgContainer :not(img) {
  position: absolute;
  top: 30%;
  z-index: 1;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.imgContainer:hover :not(img) {
  opacity: 1;
}

.noSession {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* -------- */

.content {
  display: flex;
  width: 100vw;
  flex-direction: row;
  margin-left: 2vw;
  margin-bottom: 5vh;
  margin-top: 6vh;
}

.name {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin: 0vh 2vw;
}

/* -artist- */

.followers {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* -album- */

.albumArtists {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.albumTracks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.releaseDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -playlist- */

.owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
  margin-right: 1vw;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
}

/* -track- */

.trackArtist {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trackAlbum {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ------- */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}