.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBarContainer {
}

.searchBar {}

.resultContainer {
    margin-top: 17vh;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1000px) {
    .resultContainer {
        flex-direction: column;
        align-items: center;
    }
}

.artistsContainer, .albumsContainer, .playlistsContainer, .tracksContainer {
    width: 21.5vw;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
}

.artists {}

.albums {}

.playlists {}

.tracks {}