@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap");
/* * {
  box-sizing: border-box;
} */

html, body {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 1000px) {
  /* html, body {
    overflow-y: auto;
  } */
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-align: center;
  /* margin: 30px 0 30px; */
}

span {
  font-size: 12px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0.3rem;
}

button {
  border-radius: 20px;
  border: 1px solid #180f10;
  background-color: #180f10;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

img:active, button:active, img:active {
  transform: scale(0.944);
}

button:hover, img:hover {
  transform: scale(0.98);
}

img:focus, button:focus {
  outline: none;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input, select {
  border-radius: 20px;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

/* li {
  margin: 10px;
} */

select {
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

img {
  border-radius: 5px;
  opacity: 0.98;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

audio {
  margin: 15px 0px 4vh;
  opacity: 0.9;
  height: 30px;
  width: 245px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border: 0px none #5e0808;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

::-webkit-scrollbar-thumb:active {
  background: #5c5c5c;
}

::-webkit-scrollbar-track {
  background: #dbdbdb;
  border: 68px none #ffffff;
  border-radius: 16px;
}

::-webkit-scrollbar-track:hover {
  background: #c4c4c4;
}

::-webkit-scrollbar-track:active {
  background: #9e9e9e;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
